<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juksooon.backbone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Backbone"
        android:usesCleartextTraffic="true">
        <activity android:name="com.juksooon.backbone.EditingActivity"/>
        <activity android:name="com.juksooon.backbone.SplashActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name="com.juksooon.backbone.WritingActivity" />
        <activity android:name="com.juksooon.backbone.ReadingActivity" />
        <activity android:name="com.juksooon.backbone.SearchActivity" />
        <activity android:name="com.juksooon.backbone.LockScreenMenuActivity" />
        <activity android:name="com.juksooon.backbone.MyQuestionActivity" />
        <activity android:name="com.juksooon.backbone.LockedScreenActivity" />
        <activity android:name="com.juksooon.backbone.HomeActivity"/>
        <activity android:name="com.juksooon.backbone.LockedScreenSetActivity" />
        <activity android:name="com.juksooon.backbone.LockedScreenOnceActivity" />
    </application>

</manifest>